{% extends 'baseshop.html' %}

{% load static %}


{% block title %} Suivi de commande {% endblock %}


{% block link_css %}
<link rel="stylesheet" href="{% static 'css/shopping.css' %}">
{% endblock %}

{% block contenu %}

<div class="container-fluid p-5">
    <article class="card-livred">
        <header class="card-header"> Mes commandes / Tracking </header>
        <div class="card-body">
            <h6>Commande ID: OD45345345435</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Délai de livraison estimé:</strong> <br>07 Juillet 2020 </div>
                    <div class="col"> <strong>Transporté par:</strong> <br> Notué Michel | <i class="fa fa-phone"></i> +237 698675986 </div>
                    <div class="col"> <strong>Statut:</strong> <br> Reçu par le transporteur </div>
                    <div class="col"> <strong>Tracking #:</strong> <br> BD045903594059 </div>
                </div>
            </article>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Commande confirmée</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Reçu par le transporteur</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> En cours de livraison </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Disponible en point relais</span> </div>
            </div>
            <hr>
            <ul class="row">
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1571751108/Ecommerce/laptop-dell-xps-15-computer-monitors-laptops.jpg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">Dell Laptop avec 500GB HDD <br> 8GB RAM</p> <span class="text-muted">950 000 Fcfa</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1571750967/Ecommerce/ef192a21ec96.jpg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">HP Laptop avec 500GB HDD <br> 8GB RAM</p> <span class="text-muted">850 000 Fcfa</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1571750722/Ecommerce/acer-v-17-nitro-realsense.jpg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">ACER Laptop avec 500GB HDD <br> 8GB RAM</p> <span class="text-muted">650 000 Fcfa</span>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <hr>
            <a href="#" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Retour </a>
        </div>
    </article>
</div>

{% endblock %}



{% block link_js %}
<script type="text/javascript" src="{% static 'js/shopping.js' %}"></script>
{% endblock %}